<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>BlogTp</title>
		<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
		<%= stylesheet_link_tag "reset" %>
		<%= stylesheet_link_tag "enhancements" %>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<!--header -->
		<%= render partial: 'partials/header' %>
		<!--/header-->
		
		<!-- content-outer -->
		<div id="content-wrap" class="clear" >
			<!-- content -->
			<div id="content">
				<!-- main -->
				<div id="main">
					<%= yield %>
				</div>
				<!-- /main -->

				<!-- sidebar -->
				<%= render partial: 'partials/sidebar' %>
				<!-- /sidebar -->
			</div>
			<!-- content -->
		</div>
		<!-- /content-out -->

		<!-- footer-outer -->
		<%= render partial: 'partials/user_footer' %>
		<!-- /footer-outer -->

		<!-- footer-bottom -->
		<div id="footer-bottom">
			<p class="bottom-left"> &copy; 2010 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp; <a href="http://www.stylishtemplate.com/">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a> </p>
			<p class="bottom-right"><a href="#">Home</a> | <a href="#">Sitemap</a> | <a href="#">RSS Feed</a> | <strong><a href="#top">Back to Top</a></strong> </p>
		</div>
		<!-- /footer-bottom-->

	</body>
</html>
